body {
  margin: 0; }

.test {
  background-color: red;
  border-radius: 50%;
  border: 2px solid black;
  color: white;
  margin: 20px auto; }

.test--50px {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px; }

.test--100px {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px; }

.test--50px-100px {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 50px; }

.test--100px-50px {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100px; }
